body {
    text-align: center;
    font-family: 'Advent Pro', sans-serif;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Fredericka the Great', cursive;
}
header h1 {
    font-size: 4rem;
}
#indexH1 {
    color: green;
}
.navDiv {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
    border-bottom: 2px solid black;
}
.navLogin {
    justify-content: center;
}
.plants-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.plants-row img {
    width: 35vw;
}
.btn {
    background-color: green;
    color: whitesmoke;
    margin: .5rem;
    font-family: 'Advent Pro', sans-serif;
}
.show-btns {
    display: flex;
    justify-content: center;
}
.plants-container {
    margin-top: 2rem;
}
.plants-card {
    margin: 1rem;
    padding: .5rem;
}
img {
    max-width: 50%;
    border-radius: 16px;
}
#yourRequests, #theirRequests, #approvedSwaps {
    color: whitesmoke;
    padding: .2rem;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-shadow: 2px 2px black;
    margin-top: 2rem;
}
#approvedSwaps {
    background-color: rgb(126, 182, 91);
}
.approvedSwap-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    margin: 2rem;
    border-radius: 26px;
    padding: .3rem;
}
.approvedSwaps-btn {
    background-color: rgb(126, 182, 91);
}
#yourRequests {
    background-color: teal;
}
.yourSwap-header, .theirSwap-header {
    color: white;
    margin: 0;
    border-radius: 14px 14px 0 0;
    padding: .3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.yourSwap-header {
    background-color: rgba(0, 128, 128, .7);
}
.theirSwap-header {
    background-color: rgba(118, 82, 150,.7); 
}
#theirRequests {
    background-color: rgb(118, 82, 150);
}
.swap-container {
    border: 1px solid black;
    margin: 1rem 2rem;
    border-radius: 14px;
}
.swap-container h2 a {
    color: black;
}
.swapImg-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .6rem 0;
}
.swapImg-row  img {
    width: 30vw;
}
.request-btnDiv {
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
}
.yours-btnDiv .btn {
    background-color: teal;
}
.theirs-btnDiv .btn {
    background-color: rgb(118, 82, 150);
}
ion-icon {
    font-size: 4rem;
    color: green;
}
#msg-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
}
.msg {
    text-align: left;
    border: 1px solid black;
    margin: .5rem;
    padding: .5rem;
    border-radius: 16px;
}
input {
    border-radius: 16px;
    padding: .3rem;
    margin: .5rem;
}
.newMessage-btnDiv {
    display: flex;
    justify-content: flex-end;
}
.deleteDiv {
    display: flex;
    justify-content: center;
}
.showSwap-greeting {
    border: 1px solid black;
    margin: 2rem 0;
    background-color: rgb(118, 82, 150);
    color: whitesmoke;
}
.showSwap-requestFrom-h2 {
    background-color: rgba(118, 82, 150,.7);
    color: whitesmoke;
    padding: .3rem;
    margin-bottom: 2rem;
}